# Ignore artifacts:
build
coverage

# Big JSON files
/src/lib/prices/prices.json
/src/lib/dust/poe-dust.json

# Lock file
pnpm-lock.yaml

# Google verification file
public/google2379b57d85212dd8.html
